%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      %form.sign_in
        %header
          %h1 Sign in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              .row
                .col-sm-4
                  = f.label :email, "Email Address"
                  %br/
                  = f.email_field :email, autofocus: true, class: "form-control"
            .field
              .row
                .col-sm-4
                  = f.label :password
                  %br/
                  = f.password_field :password, autocomplete: "off", class: "form-control"
                  %br/
            .actions
              = f.submit "Sign in", class:"btn btn-default"
